<div>
    <h5>Upper Section</h5>
    <p></p>
    <table class="table">
        <thead>
            <tr>
                <th>Category</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ACES</td>
                <td><%= category_scores.ACES %></td>
            </tr>
            <tr>
                <td>TWOS</td>
                <td><%= category_scores.TWOS %></td>
            </tr>
            <tr>
                <td>THREES</td>
                <td><%= category_scores.THREES %></td>
            </tr>
            <tr>
                <td>FOURS</td>
                <td><%= category_scores.FOURS %></td>
            </tr>
            <tr>
                <td>FIVES</td>
                <td><%= category_scores.FIVES %></td>
            </tr>
            <tr>
                <td>SIXES</td>
                <td><%= category_scores.SIXES %></td>
            </tr>
        </tbody>
    </table>    
</div>
